<h1>Show</h1>
<h1><%=@client.name %></h1>
<h2><%=@client.age %></h2>
<h2><%=@client.hair_color %></h2>
<h2><%=@client.eye_color %></h2>
<h2><%=@client.gender %></h2>
<h2><%= link_to 'Back', clients_path %></h2>